.criterias-edit {
  .criteria_wild label p {
    display: none;
    position: absolute;
    width: 100vw;
    padding-top: 30px;
    left: 0px;
  }

  .criteria_wild input:checked + label p {
    display: block;
  }

  .criteria_wild label {
    margin-bottom: 80px;
  }
}

.devise-sessions {
  .form-check {
    padding-left: 0px;
  }
  .form-check-input{
    position: static;
    margin-right: 6px;
  }
}
