

.page-background {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), image-url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

}

.page-background h1{
  color: white;
  font-size: 32px;
}

h1 {
  padding: 100px 40px 0px 40px;
  margin: 0px;
  text-align: center;
  font-family: News Cycle, sans-serif;
}

// BUTTON

.btn {
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  transition: 0.5s;
 }

 .btn-grad {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
}
.btn-grad:hover {
  background-position: right center;
  color: white;
}


.link {
  padding: 90px 0 0;
}

// typed js
#banner-typed-text{
 text-decoration: underline #00c5ff;
}

// BOTTOM PAGE

.homepage2 {
  height: 100vh;
}




