.pages-home {
  margin-top: 0;

  .back-link {
    display: none;
  }

  .navbar-wagon {
    background-color: transparent;
  }

  h1 {
    padding-top: 30vh;
    margin: 0;
    height: 65vh;
    font-family: News Cycle, sans-serif;
  }

  .link {
    padding-top: 10vh;
    height: 40vh;
  }
}

.page-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    image-url("background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  z-index: -1;
}

.page-background h1 {
  color: white;
  font-size: 32px;
}

// BUTTON

// typed js
#banner-typed-text {
  text-decoration: underline #5972e0;
}

// BOTTOM PAGE

.homepage2 {
  height: 100vh;
  background: linear-gradient(138deg, #5b05ae, #6be9ea);
}

// CARD

.cards {
  font: black;
  background-color: transparent;
  height: 170px;
  width: 80%;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

.cards p {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "News Cycle", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px 0;
  margin: 0;
}
