

 <div class="footer">
  <div class="footer-firstline">
    <div class="copyright">
      <p>Wild Cities</p>
    </div>

    <div class="footer-contact">
        <a href="#">About</a>
        ·
        <a href="#">Blog</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
    </div>

    <div class="footer-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>

