<!-- <div class="footer">
  <div class="footer-info">
      <a href="#">About</a>
      路
      <a href="#">Faq</a>
      路
      <a href="#">Contact</a>
    </p>

    <div class="footer-logo">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  </div>



  <div class="footer-copyright">
    <p>Wild Cities &copy; 2018</p>
  </div>

</div>
 -->

 <div class="footer">
  <div class="footer-firstline">
    <div class="footer-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>

    <div class="footer-copyright">
        <a href="#">About</a>
        路
        <a href="#">Faq</a>
        路
        <a href="#">Contact</a>
    </div>
  </div>

  <div class="copyright">
    <p>Wild Cities &copy; 2018</p>
  </div>
</div>

