<div class="footer">
  <div>

    <div class="footer-left">

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>
    </div>

    <div class="footer-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>

    <div class="footer-copyright">
      This footer is made with <i class="fa fa-heart"></i> at Le Wagon
    </div>
  </div>
  <div>
    <p>Wild Cities &copy; 2018</p>
  </div>
</div>
