<div class="navbar-wagon">
  <div class="back-link">
    <i onclick="history.back();" class="fas fa-arrow-circle-left"></i>
  </div>

  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", width: 50 %>
  </a>

  <!-- Right Navigation -->
  <% if user_signed_in? %>
    <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">My favorites</a></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
      </ul>
    </div>
  </div>


    </div>
  <% else %>
  <div class="btn-sign">
      <%= link_to "Sign In", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <% end %>
</div>

