
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
    <style>
    </style>
  <div id='map' style='width: 400px; height: 700px;'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibWVnYW53aWxkIiwiYSI6ImNqbG1iMW1hOTEycGMza3IwamF6ZXZ3aGkifQ.Ysf7DhhxllCBE3WygpnzKw';
      var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/light-v9'
});

var popup = new mapboxgl.Popup({closeOnClick: false})
    .setLngLat([4.83488, 45.746106])
    .setHTML('La Tour du Web')
    .addTo(map);

var marker = new mapboxgl.Marker()
  .setLngLat([4.83488, 45.746106])
  .addTo(map);




    </script>r
