<div id='map' style='width: 100%; height: 60vh; z-index: 0;' data-markers="<%= @events.to_json %>">

</div>
<div class="container event-contain">
  <% @events.each do |event| %>
  <div class="row row-event event-contain">

    <div class="col-xs-6 event-contain">
      <img class="img-event" src="https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5b811266a4cf56733a98b08047ffe3ed&auto=format&fit=crop&w=1050&q=80" alt="party">
    </div>
    <div class="col-xs-6 help-align-center">
      <h3 class="name-event"><%= event.name %></h3>
    </div>
    <%= link_to '', event, class: "event-link" %>
  </div>
  <% end %>
</div>
