<!-- render 'shared/loader' -->

<!--
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
    <style>
    </style>
  <div id='map' style='width: 100%; height: 100vh'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibWVnYW53aWxkIiwiYSI6ImNqbG1iMW1hOTEycGMza3IwamF6ZXZ3aGkifQ.Ysf7DhhxllCBE3WygpnzKw';
      var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/light-v9'
});


var marker = new mapboxgl.Marker()
  .setLngLat([4.83488, 45.746106])
  .addTo(map);


    </script> -->




<style>
    .mapboxgl-popup {
        max-width: 150px;
        max-height: 80px;
        font: 12px/15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        z-index: 11;
        color: black;
        text-align: center;
    }

    .mapboxgl-canvas, #map {
      z-index: 10;
    }

</style>

<div id='map' style='width: 100%; height: 700px;' data-markers="<%= @events.to_json %>"></div>


<!-- "icon": "@events[2].icon " -->
