<div id='map' style='width: 100%; height: 60vh; z-index: 0;' data-markers="<%= @events.to_json %>">

</div>
<div class="container lister">
  <div class="row">

  </div>
  <h2>World Cup 2014</h2>
  <ul>
    <li>Milk</li>
    <li>Butter</li>
  </ul>
</div>
<div class="lister">
  <h2>World Cup 2014</h2>
  <ol>
    <li>Germany</li>
    <li>Argentina</li>
  </ol>
</div>
<div class="lister">
  <h2>World Cup 2014</h2>
  <ol>
    <li>Germany</li>
    <li>Argentina</li>
  </ol>
</div>
