
<style>
    .mapboxgl-popup {
        max-width: 150px;
        max-height: 80px;
        font: 12px/15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        z-index: 11;
        color: black;
        text-align: center;
    }

    .mapboxgl-canvas, #map {
      z-index: 10;
    }

</style>

<div id='map-show' style='width: 100%; height: 700px;' data-markers="<%= @events.to_json %>"></div>



