<div class="home">
  <div class="page-background">
    <h1>The alternative way of exploring a city</h1>

    <div class="link">
      <a href=<%= "#{edit_criterias_path}" %> class="btn btn-4">Locate me</a>
      <a href="#bazinga" class="ca3-scroll-down-link ca3-scroll-down-arrow"></a>
    </div>
  </div>
</div>

<div id="bazinga" class="homepage2">

  <p> HELLO </p>
  <p> HELLO </p>
  <p> HELLO </p>
  <p> HELLO </p>
  <p> HELLO </p>
  <p> HELLO </p>
  <p> HELLO </p>
  <p> HELLO </p>


</div>

