<div class="home">
  <div class="page-background">
    <h1> The alternative way of exploring a city </h1>
    </h1>
      <div class="link">
       <a class="btn btn-4">Locate me</a>
      </div>
  </div>
</div>
