

<div class="home">
  <div class="page-background">
    <h1>
      The
      <span id="banner-typed-text">The </span>
      <br> way of exploring a city</br>
    </h1>

    <!-- <p>
      <span id="banner-typed-text"></span>
    </p> -->


    <div class="link">
      <a href=<%= "#{edit_criterias_path}" %> class="btn btn-grad">Locate me</a>
      <a href="#bazinga" class="ca3-scroll-down-link ca3-scroll-down-arrow"></a>
    </div>
  </div>
</div>

<div id="bazinga" class="homepage2">
  <div class="cards-container">
    <div class="cards">
      <div id="card1">
        <%= image_tag "home-location.svg", height: 100 %>
      </div>
      <p>Locate yourself</p>
    </div>

    <div class="cards">
      <div id="card2">
        <%= image_tag "home-select.svg", height: 100 %>
      </div>
      <p>Chose what you want to do</p>
    </div>

    <div class="cards">
      <div id="card3">
        <%= image_tag "home-wild.svg", height: 100 %>
      </div>
      <p>Let's go, be WILD !</p>
    </div>
  </div>
</div>

