.choices-new {
  background: #151515;

  .event-proposition {
    background: #151515;
    height: calc(100vh - 70px);
  }

  @import url('https://fonts.googleapis.com/css?family=Montserrat');

  .choice-count {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }

  .btn-bar {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  .footer {
    display: none;
  }

  .description {
    height: 30vh;
  }

  .title-event {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: white;
  }

  .title-tips {
    font-size: 17px;
  }
}

.img-event {
  width: 100%;
}

.event-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}

.hr-event {
  width: 30px;
  background-color: white;
  height: 3px;
  border: none;
}

.btn-tinder-green {
  padding: 0;
  width: 100px;
  height: 100px;
  line-height: 102px;
  font-size: 40px;
  border-radius: 50%;
  background-color: #37a866;
  color: white;
  box-shadow: none;
  opacity: 0.9;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.btn-tinder-green:hover {
  color: white;
  background-color: #13f49e;
  opacity: 1;
}

.btn-tinder-red {
  padding: 0;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  border-radius: 50%;
  background-color: #d46d69;

  color: white;
  box-shadow: none;
  opacity: 0.9;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.btn-tinder-red:hover {
  color: white;
  background-color: #ff3a3a;
  opacity: 1;
}

.event-card {
  padding: 15px;
  padding-bottom: 20px;
}
