// @import "lesshat";

// #16a085: #16a085;
// #1abc9c: #1abc9c;

.event {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #4b4b4b;

  &:active,
  &:focus,
  &:hover {
    background: #343738;
  }

  .event-image {
    flex: 0 0 30%;
    padding: 5px;
  }

  .event-informations {
    flex: 1 1 auto;
    padding: 10px 15px;

    h3 {
      color: #cdcbcb;
      margin-top: 0;
    }

    .event-tips {
      font-size: 0.9em;
    }
  }

  .event-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.tns-outer button {
  display: none;
}

.tns-outer {
  margin-top: 70px;
}

.tns-nav {
  display: none;
}

.help-align-center {
  display: flex;
  align-items: center;
}

.row-show-name {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 40px;
}

.row-show-desc {
  margin-bottom: 20px;
}

.img-height-carousel {
  object-fit: cover;
  height: 60vh !important;
  // min-height: 60vh;
  // width: auto;
}

.show-xpn-desc {
  max-width: 96%;
  font-size: 18px;
  margin-bottom: 20px;
  color: #95a5a6;
  opacity: 0.8;
}

.show-nrm-desc {
  font-size: 17px;
  color: #cacaca;
}

.event-map {
  margin: 30px 0;
  height: 300px;
}

.events-show {
  .btn-wildcity,
  .btn-wildcity:focus {
    width: 100%;
    margin-bottom: 30px;
  }

  .address-link {
    color: #7e7e7e;
    text-decoration: underline;
  }
}

.average-note {
  font-size: 1em;
  margin-bottom: 15px;

  .full {
    color: #1abc9c;
  }
}

.star-rating {
  font-family: "FontAwesome";
  margin: 50px auto;

  > fieldset {
    border: none;
    display: inline-block;

    &:not(:checked) {
      > input {
        position: absolute;
        top: -9999px;
        clip: rect(0, 0, 0, 0);
      }

      > label {
        float: right;
        width: 1.2em;
        padding: 0 0.05em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        color: #16a085;

        &:before {
          // content: '\f003  ';
          // font-family: 'Font Awesome\ 5 Free';
        }

        &:hover,
        &:hover ~ label {
          color: #1abc9c;
          text-shadow: 0 0 3px #1abc9c;
          &:before {
            content: "\f005  ";
            font-family: "Font Awesome\ 5 Free";
          }
        }
      }
    }

    > input:checked {
      & ~ label {
        &:before {
          content: "\f005  ";
          font-family: "Font Awesome\ 5 Free";
        }
      }
    }

    > label:active {
      position: relative;
      top: 2px;
    }
  }
}

body {
  background: #262829;
  color: #95a5a6;

  p {
    font-size: 1.6em;
    margin: auto;
    width: 80%;
  }

  a {
    color: #16a085;
  }
}
