#map {
  z-index: -1;
  margin-top: 70px;
}
.lister {
  display: flex;
  align-items: center;
  border-bottom: 1px white solid;
}
.lister h2 {
  font-size: 20px;
  color: white;
}
.lister li {
  color: white;
  list-style-type: none;
}
