@import url('https://fonts.googleapis.com/css?family=Montserrat');

.btn-wildcity, .btn-wildcity:focus {
  position: relative;
  border: none;
  width: 100%;
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 6px #555555;
  transition: none;
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  min-width: 100px;
}
.btn-wildcity:hover {
  color: white;
  box-shadow: 0 4px #555555;
  top: 2px;
  text-decoration: none;
}
.btn-wildcity:active {
  color: white;
  box-shadow: 0 0px #555555;
  top: 6px;
}

.btn-wildcity-secondary, .btn-wildcity-secondary:hover, .btn-wildcity-secondary:focus, .btn-wildcity-secondary:active  {
  background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);
  color: black;
/*border: 2px solid #000;*/
}

.btn-wildcity-secondary, .btn-wildcity-secondary:focus {
  box-shadow: 0 6px #555;
  width: 60%;
}

.btn-wildcity-secondary:hover {
  box-shadow: 0 4px #555;
}

.btn-wildcity-secondary:active {
  box-shadow: 0 0px #555;
}

.btn-wildcity-home, .btn-wildcity-home:hover, .btn-wildcity-home:focus, .btn-wildcity-home:active  {
  background-color: #002878;
  background-image: linear-gradient(45deg, #4776E6 0%, #8E54E9 55%, #4776E6 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  border-radius: 50px;
  padding: 12px 48px;
  text-decoration: none;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: all 0.5s ease;
  width: calc(100% - 40px);
}

.btn-wildcity-home:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
