/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 12;

  .back-link i {
    font-size: 20px;
    color: white;
  }
}

// /* Logo */
.navbar-wagon-brand img {
  width: 70px;
}

.navbar-wagon-item {
  margin-left: 20px;
  color: white;
}

.navbar-wagon-item:hover {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.navbar-wagon-item {
  .dropdown-toggle:empty::after {
    display: none;
  }
}
