// Graphical variables

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "librairies/*";
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "pages/edit";
@import "registrations/new";
@import "sessions/new";
@import "events/show";
@import "events/new";
@import "events/index";
@import "votes/new";

//btn-wildcities
@import "components/btn-wildcities";

// loader
#loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(38, 38, 38, 1);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
