<h1>Votes#new</h1>
<p>Find me in app/views/votes/new.html.erb</p>

<div  tabindex="1" role="dialog" aria-labelledby="mySmallModalLabel">
 <div  role="document">
   <div class="modal-content">


     <div class="star-rating">
       <fieldset>
         <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Outstanding"><i class="far fa-star"></i></label>
         <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Very Good"><i class="far fa-star"></i></label>
         <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Good"><i class="far fa-star"></i></label>
         <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Poor"><i class="far fa-star"></i></label>
         <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Very Poor"><i class="far fa-star"></i></label>
       </fieldset>
     </div>

     <%=  link_to "Vote", edit_criterias_path(current_user.criteria)   %>

   </div>
 </div>
</div>
